/*
/*  Global
 */
html,
body {
		background: #f2f2f2;
		color: #777;
		font-family: Roboto;
		padding: 0;
		margin: 0;
}
.container {
		width: 1080px;
		margin-left: auto;
		margin-right: auto;
		background: white;
		padding: 0 15px;
}
.form-group {
		margin-top: 15px;
}
input {
	height: 35px;
	border: 1px solid #ccc;
	padding: 5px 25px;
}
 /*
 /*  Header
  */
header {
		background: white;
		border-bottom: 1px solid #ccc;
}
header ul {
		padding: 0;
		margin: 0;
}
header ul li {
		list-style: none;
		display: inline-block;
		padding: 15px;
}
header ul li a{
		color: #777;
		text-decoration: none;
}
header ul li#barre-img {
		width: 50px;
}
header ul li#barre-img img{
		width: 100%;
		height: auto;
}
/*
/*  Content
 */
#main-content {
		margin-top: 30px;
		padding: 15px;
		border: 1px solid #ccc;
}
/*
/*  Content - Connection
 */
#content-login {

}
	/*
  /*  Footer
   */
footer {
	 background: white;
	 border-top: 1px solid #ccc;
	 margin-top: 30px;
}
footer .container{
		padding: 15px;
}
